<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.capgemini.demo.mapper.HeadMapper">

<resultMap type="com.capgemini.demo.bean.Head" id="HeadMap">
<result column="id" property="id" jdbcType="INTEGER"/>
<result column="name" property="name" jdbcType="VARCHAR"/>
<result column="password" property="password" jdbcType="VARCHAR"/>
<result column="email" property="email" jdbcType="VARCHAR"/>
</resultMap>

<insert id="addHead" parameterType="com.capgemini.demo.bean.Head">
INSERT INTO `edusystem`.`e_head`  (`id`, `name`, `password`, `email`) 
VALUES
  (#{id}, #{name}, #{password}, #{email}) ;
</insert>


<select id="CountHead" resultType="int">

SELECT 
  count(*)
FROM
  `edusystem`.`e_head` 
</select>

<select id="FindByEmail" parameterType="String" resultMap="HeadMap">
SELECT 
  `id`,
  `name`,
  `password`,
  `email` 
FROM
  `edusystem`.`e_head` 
  WHERE  `email` =#{email};
</select>


<select id="FindAllHead" resultMap="HeadMap">
SELECT 
  `id`,
  `name`,
  `password`,
  `email` 
FROM
  `edusystem`.`e_head` 

</select>

<select id="FindByName" parameterType="String" resultMap="HeadMap">
SELECT 
  `id`,
  `name`,
  `password`,
  `email` 
FROM
  `edusystem`.`e_head` 
WHERE   `name`=#{name};



</select>

</mapper>