<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.capgemini.demo.mapper.TeacherMapper">

<resultMap type="com.capgemini.demo.bean.Teacher" id="TeacherMap">
<result column="id" property="id" jdbcType="INTEGER"/>
<result column="name" property="name" jdbcType="VARCHAR"/>
<result column="password" property="password" jdbcType="VARCHAR"/>
<result column="email" property="email" jdbcType="VARCHAR"/>
<result column="courseid" property="courseid" jdbcType="INTEGER"/>
</resultMap>
<insert id="addTeacher">
INSERT INTO `edusystem`.`e_teacher` (
  `id`,
  `name`,
  `email`,
  `password`,
  `courseid`
) 
VALUES
  (
    #{id},
   #{name},
    #{email},
   #{password},
    #{courseid}
  ) ;

</insert>

<select id="CountTeacher" resultType="int">
  SELECT 
   count(*)
FROM
  `edusystem`.`e_teacher` 
</select>

<select id="FindByEmail" parameterType="String" resultMap="TeacherMap">
SELECT 
  `id`,
  `name`,
  `email`,
  `password`,
  `courseid` 
FROM
  `edusystem`.`e_teacher` 
    WHERE `email`=#{email};
  </select>
  
  
  <select id="FindByCourseId" parameterType="int" resultMap="TeacherMap">
  SELECT 
  `id`,
  `name`,
  `email`,
  `password`,
  `courseid` 
FROM
  `edusystem`.`e_teacher` 
    WHERE `courseid`=#{courseid};
  
  
  </select>

</mapper>